<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8">
        <title> Добавить задачу </title>
        <link rel="stylesheet" href="/css/style.css">
        <!-- Boxiocns CDN Link -->
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <link rel="shortcut icon" href="/image/logoSecDark.svg" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <!--preloader-->
        <div class="preloader">
            <img src="/image/logoShortPreloader.svg" alt="" class="preloaderLogo">
        </div>
        
        <!--sideBar-->
        <div class="sidebar close">
            <!--logo-->
            <div class="logo-details">
                <img src="/image/logoSec.svg" alt="logo" class="logo">
                <span class="logo_name">melia</span>
            </div>

            <!--links-->
            <ul class="nav-links">
                <!--profile-->
                <li class="nav-links-list">
                    <div class="profile-details">
                        <div class="profile-content">
                            <img th:src="${profileImg.getImagePath()}" alt="profileImg">
                        </div>

                        <div class="name-job">
                            <div class="profile_name" th:text="${person}"></div>
                        </div>

                        <form th:action="@{/logout}" th:method="POST">
                            <a onclick="this.closest('form').submit();return false;" href="/logout"><i class='bx bx-log-out'></i></a>
                        </form>
                    </div>
                </li>

                <!--mainPage-->
                <li class="nav-links-list">
                    <a href="/main">
                        <i class='bx bx-home-alt'></i>
                        <span class="link_name">Главная</span>
                    </a>

                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="#">Главная</a></li>
                    </ul>
                </li>

                <!--myTasks-->
                <li class="nav-links-list">
                    <a href="/task">
                        <i class='bx bx-task'></i>
                        <span class="link_name">Мои задачи</span>
                    </a>

                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="#">Мои задачи</a></li>
                    </ul>
                </li>

                <!--statPage-->
                <li class="nav-links-list">
                    <a href="/stat" sec:authorize = "hasRole('ROLE_USER')">
                        <i class='bx bx-line-chart'></i>
                        <span class="link_name">Статистика</span>
                    </a>

                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="#">Статистика</a></li>
                    </ul>
                </li>

                <li class="nav-links-list">
                    <a href="/executors" sec:authorize="hasRole('ROLE_ADMIN')">
                        <i class='bx bx-user-circle'></i>
                        <span class="link_name">Пользователи</span>
                    </a>

                    <ul class="sub-menu blank">
                        <li><a class="link_name">Пользователи</a></li>
                    </ul>
                </li>

                <li class="nav-links-list">
                    <a href="/adminStat" sec:authorize = "hasRole('ROLE_ADMIN')">
                        <i class='bx bx-line-chart'></i>
                        <span class="link_name">Статистика пользователей</span>
                    </a>

                    <ul class="sub-menu blank">
                        <li><a class="link_name">Статистика пользователей</a></li>
                    </ul>
                </li>

                <!--settingsPage-->
                <li class="nav-links-list">
                    <a href="/settings">
                        <i class='bx bx-cog'></i>
                        <span class="link_name">Настройки</span>
                    </a>

                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="#">Настройки</a></li>
                    </ul>
                </li>

                <!--infoPage-->
                <li class="nav-links-list">
                    <a href="/info">
                        <i class='bx bx-info-circle'></i>
                        <span class="link_name">Информация</span>
                    </a>

                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="#">Информация</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <!--mainBar-->
        <div class="home-section">
            <div class="home-content">
                <i class='bx bx-menu'></i>
                <span class="text">Мои задачи</span>
            </div>

            <div class="homeContentGreetingText">
                <div class="homeContentGreetingTextContainer">
                    <span class="textGreeting time" th:text="${time}"></span>
                    <span class="text">Добро Пожаловать!</span>
                    <span class="text" th:text="${person}"></span>
                </div>
            </div>

            <!--homeSectionBackground-->
            <div class="homeSectionContentBar">
                <!--table-->
                <div class="tableContentBar">
                    <div class="contentCenterBarSec">
                        <h2 class="">Добавить Задачу</h2>

                            <div class="addTaskContainer marginTwoProc">
                                <form th:method="POST" th:action="@{/addTask}" th:object="${task}" class="" enctype="multipart/form-data">
                                    <div class="addTaskFormFirstSegment addTaskFormSegments">
                                        <label for="task_name">Введите название: </label>
                                        <input type="text" th:field="*{task_name}" name="task_name" id="task_name" class="addTaskInput">
                                        <div th:if="${#fields.hasErrors('task_name')}" th:errors="*{task_name}" class="error">Error</div>
                                    </div>
                                    
                                    <div class="addTaskFormFirstSegment addTaskFormSegments">
                                        <label class="form_label" for="task_desc">Введите описание: </label>
                                        <textarea class="addTaskInput" type="text" th:field="*{task_desc}" name="task_desc" id="task_desc" ></textarea>
                                        <div th:if="${#fields.hasErrors('task_desc')}" th:errors="*{task_desc}" class="error">Error</div>
                                    </div>
                                    
                                    <div class="addTaskFormSecondSegment addTaskFormSegments">
                                        <label class="form_label" for="task_date">Введите дату (дд/мм/гггг): </label>
                                        <input class="addTaskInput" type="text" th:field="*{task_date}" name="task_date" id="task_date">
                                        <div th:if="${#fields.hasErrors('task_date')}" th:errors="*{task_date}" class="error">Error</div>
                                    </div>

                                    <div class="addTaskFormSecondSegment addTaskFormSegments">
                                        <label class="form_label" for="task_interval">Повторять каждые: </label>
                                        <input class="addTaskInput" type="text" th:field="*{task_interval}" name="task_interval" id="task_interval">
                                        <!--<div th:if="${#fields.hasErrors('task_date')}" th:errors="*{task_date}" class="error">Error</div>-->
                                    </div>

                                    <div class="addTaskFormSecondSegment addTaskFormSegments marginTwoProc">
                                        <label class="form_label">Введите исполнителя: </label>
                                        <select th:object="${executor}" th:field="*{id}" >
                                            <option th:each="executor : ${executors}" th:value="${executor.getId()}" th:text="${executor.getPerson_profile()}"></option>
                                        </select>
                                    </div>

                                    <div class="addTaskFormThirdSegment addTaskFormSegments">
                                        <input type="file" name="file"/>
                                    </div>

                                    <div class="addTaskFormFourthSegment addTaskFormSegments">
                                        <div onclick="this.closest('form').submit();return false;" class="button blueButton tableContentButton marginTwoProc">
                                            Создать
                                        </div>
                                        
                                        <div class="tableContentButton">
                                            <a href="/task" class="button blueButton marginTwoProc">Назад</a>
                                        </div>
                                    </div>
                                </form>
                            </div>

                    </div>
                </div>
            </div>
        </div>

        <script src="/script/script.js"></script>

        <!--jsCalendar-->
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script src="/script/jsCalendar.js"></script>
    </body>
</html>
